<html>
<body>

<h1>{{restaurant.name}}</h1>
<h1>Add New Menu Item</h1>

<form action='{{url_for('newMenuItem', restaurant_id=restaurant.id)}}' method='POST'>
	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<p>Calories:</p>
		<input type ='text' size='30' name='calories'>
	<p>Course:</p>
		<input type ='radio'  name='course' value ='Snack'>Snack</br>
		<input type ='radio'  name='course' value ='Entree'>Entree</br>
		<input type ='radio'  name='course' value ='Dessert'>Dessert</br>
		<input type ='radio'  name='course' value ='Beverage'>Beverage</br>
	</br>

<input type = 'submit' value = 'Create'>
<a href = '{{url_for('showRestaurants')}}'>Cancel</a>

</form>

</body>
</html>